*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.container img{
    width: 140px;
    height: 60px;
}
.btn{
    background-color: #30B868;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    cursor: pointer;
}
   .btn2{
    font-size: 16px;
    line-height: 100%;
    background-color: #30B868;
    color: #FFFFFF;
    margin-bottom: 180px;
    border-radius: 4px;
    padding: 16px;
    max-width: 252px;
    height: 52px;
    border: none;
    margin-right: 16px;
   }
   .btn3{
    font-size: 16px;
    line-height: 100%;
    background-color: rgba(59, 77, 84, 0);
    color: #FFFFFF;
    margin-bottom: 180px;
    border-radius: 4px;
    padding: 16px;
    max-width: 252px;
    height: 52px;
    border: none;
    margin-right: 16px;
    border: 1px solid #FFFFFF;
    
   }
 .font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF
}
nav {
   max-width:1600px ;
   margin: 16px 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
nav .content{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .content a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
#banner{
    margin: 0;
    text-align: center;
    align-items: center;
    background-image: url('../assets/hero-bg.png');
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
}
#banner .banner-content{
    max-width: 1360px;
    height: 379px;
}
#banner .banner-content button{
    font-size: 16px;
    color: #30B868;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    font-weight: 500;
    line-height: 100%;
    gap: 6px;
    width: 229px;
    height: 35px;
    margin-bottom: 16px;
    border: none;
}
#banner .banner-content h2{
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 32px;
   
    
}
   
#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

#about .about-contain{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 44px 120px;
}
.section-heading{
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}
.section-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p{
color: #627382;
font-size: 16px;
line-height: 20px;
margin-bottom: 44px;
}
#about .about-contain .info{
    display: flex;
    gap: 24px;
}
.info .card{
    max-width: 322px;
   

}
.card img{
    max-width: 60px;
    background-color: #F95555;
    color: #FFFFFF;
    margin-bottom: 16px;
    padding: 6px;
    border-radius: 50%;
}
.card h2{
    color: #001931;
    font-size: 24px;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#skill .skill-contain{
  max-width: 1360px;
  padding: 120px;
  display: flex;
  gap: 60px;
  margin: 0 auto   ;
 
}
.skill-contain .heading{
    max-width: 770px;
}
.skill-contain .heading h5{
  color: #30B868;
  font-size: 16px;
  line-height: 20px;
  margin-top: 102px;
  margin-bottom: 16px;
  font-weight: 500px;
}
 .heading h2{
    

    margin-bottom: 16px;
    margin-right: 120px;
    justify-content: center;
    align-items: center;
   color: #001931;
 }
 .heading p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
 }
 .heading .img{
    max-width: 770px;
   display: flex;
    gap: 6px;
    align-items: flex-start;

 }
  .img .clr{
    color: #001931;
  }
  #new .new-contain{
    max-width: 1360px;
    width: 85%;
   
  }
  .new-contain .omg{
    text-align: center;
    max-width: 1280px;
    padding: 80px 40px;
    margin-bottom: 24px;
    align-items: center;
  }
  .new-contain .omg h2{
    color: #001931;
    font-size: 40px;
    margin-bottom: 16px;
  }
  .new-contain .omg p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
  }
  .new-contain .ig button{
   background-color: #30B868;
   color: #FFFFFF;
   border: none;
   border-radius: 4px;
   padding: 12px 16px;
   margin-bottom: 16px;
  }
   
  .new-contain .ig{
     max-width: 1290px;
    align-items: center;
    text-align: center;
  }
.footer{
  max-width: 1600px;
}

