*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.container img{
    width: 140px;
    height: 60px;
}
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    cursor: pointer;
}
 .font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF
}
nav {
   max-width:1600px ;
   margin: 16px 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
nav .content{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .content a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

